# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Release/*
debug.log
.vs/PodBot_mm/v16/.suo
.vs/PodBot_mm/v16/Browse.VC.db
.vs/PodBot_mm/v16/Browse.VC.opendb
.vs/PodBot_mm/v16/ipch/AutoPCH/19081f8ccd2d21f5/BOT_CHAT.ipch
.vs/PodBot_mm/v16/ipch/AutoPCH/6784f576f6df118c/BOT_NAVIGATE.ipch
.vs/PodBot_mm/v16/ipch/AutoPCH/9b597c03e8c2e555/BOT_COMBAT.ipch
.vs/PodBot_mm/v16/ipch/AutoPCH/9c13cbfa39f12ff9/UTIL.ipch
.vs/PodBot_mm/v16/ipch/AutoPCH/b0aba82d569acc54/BOT.ipch
.vs/PodBot_mm/v16/ipch/AutoPCH/b87471a5647a6bfe/WAYPOINT.ipch
.vs/PodBot_mm/v16/ipch/AutoPCH/b0aba82d569acc54/BOT.ipch
.vs/PodBot_mm/v16/ipch/AutoPCH/6784f576f6df118c/BOT_NAVIGATE.ipch
.vs/PodBot_mm/v16/Browse.VC.db
.vs/PodBot_mm/v16/.suo
.vs/PodBot_mm/v16/ipch/AutoPCH/b0aba82d569acc54/BOT.ipch
.vs/PodBot_mm/v16/ipch/AutoPCH/6784f576f6df118c/BOT_NAVIGATE.ipch
.vs/PodBot_mm/v16/Browse.VC.db
.vs/PodBot_mm/v16/.suo
bot_chat.cpp.PVS-Studio.cfg
bot_chat.cpp.PVS-Studio.cmd
bot_chat.cpp.PVS-Studio.preprocess.cmd
bot_chat.cpp.PVS-Studio.preprocess.cmd.rsp
bot_chat.PVS-Studio.i
bot_client.cpp.PVS-Studio.cfg
bot_client.cpp.PVS-Studio.cmd
bot_client.cpp.PVS-Studio.preprocess.cmd
bot_client.cpp.PVS-Studio.preprocess.cmd.rsp
bot_client.PVS-Studio.i
.vs/PodBot_mm/v16/.suo
.vs/PodBot_mm/v16/Browse.VC.db
.vs/PodBot_mm/v16/ipch/AutoPCH/581ed087b6dbd0e3/ENGINE.ipch
.vs/PodBot_mm/v16/ipch/AutoPCH/94ce583cedab489a/BOT_CLIENT.ipch
.vs/PodBot_mm/v16/ipch/AutoPCH/a1bfe7d04b177cc3/COMPRESS.ipch
.vs/PodBot_mm/v16/ipch/AutoPCH/fc830535da9d4749/DLL.ipch
